.column.is-full,
.is-6,
.is-0,
.is-hidden {
    transition: width 0.5s ease;
}
.box-ns {
    background-color: white;
    border-radius: 6px;
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;

    align-items: center;
    border: 1px solid #dbdbdb;
    font-size: 1rem;
    line-height: 1.5;
}
.input-ne,
.textarea-ne {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: inherit;
    display: block;
    font-size: 1em;
    max-width: 100%;
    width: 100%;
    outline: none;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
.input-ne {
    color: #363636;
    font-size: 1.5em;
    margin-bottom: 0.6666em;
    font-weight: bold;
}
